.conatiner-change-password {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 85px);
}

.input-change-password {
    width: 350px;
    height: 34px;
    font-size: 14px;
    color: white;
}

.fieldset--change-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 25px;
}
