.card {
    position: relative;
    max-width: 400px;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    border: 1px solid #ffffff7a;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    &:hover {
        box-shadow:
            rgba(6, 127, 187, 0.347) 0px 6px 24px 0px,
            rgba(44, 103, 220, 0.731) 0px 0px 0px 1px;
        border-color: #1f4aa8;
        background-color: #1f4aa838;
    }
}

.card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.product-title {
    color: #1f4aa8;
    font-weight: 700;
    text-align: center;
}

.product-description {
    color: white;
    font-size: 14px;
    text-align: center;
    overflow: auto;
    border: 1px solid #ffffff7a;
    padding: 5px;
}

.price-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.product-price,
.discount-wrapper {
    color: white;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.product-price-original {
    padding: 1px 3px;
    border: 1px solid rgb(237, 92, 92);
    border-radius: 10px;
    background-color: rgba(237, 92, 92, 0.66);
    /* margin: 0 3px; */
    /* line-height: 25px; */
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}

.product-price-discount {
    padding: 1px 3px;
    border: 1px solid rgba(60, 239, 113, 0.646);
    border-radius: 10px;
    background-color: rgba(92, 241, 137, 0.66);
}

.discount-icon {
    position: absolute;
    width: 40px;
    height: 40px;
}

.card-bottom-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.add-to-cart-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    svg {
        user-select: none;
        pointer-events: none;
    }
    &:hover {
        svg {
            transition: all 0.5s ease-in-out;
            transform: scale(1.1);
        }
    }
}

.add-to-cart-btn-disabled {
    cursor: auto;
    background-color: #516eada7;
}
