.card-cart {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 15px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.301);
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    color: white;
    align-items: center;
    position: relative;
}

.cart-product {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.cart-info {
    flex: 1;
    text-align: center;
}

.cart-info-quantity {
    max-width: 70px;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.221);
    user-select: none;
    border-radius: 10px;
    cursor: auto;
}

.cart-IncDec {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.221);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    &:hover {
        background-color: #1f4aa8;
    }
}

.cart-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.cart-title {
    color: white;
    font-size: 16px;
    font-weight: 900;
    text-align: center;
    margin-top: 10px;
}

.cart-trash {
    /* position: absolute;
    right: 20px;
    bottom: 20px; */
    cursor: pointer;
}

.cart-IncDec-disabled {
    pointer-events: none;
    background-color: #516eada7;
}

.inc-decr-btn {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
}

@media screen and (max-width: 600px) {
    .card-cart {
        flex-direction: column;
        max-width: 300px;
        width: 100%;
    }
}
