.catalog-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.filter-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.filter-title,
.price-filter,
.sorting {
    position: relative;
    min-width: 200px;
    padding: 4px 6px;
    color: white;
    font-weight: 700;
    border: 1px solid #ffffff7a;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    user-select: none;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    &:hover {
        background-color: #1f4aa8;
    }
}

.filter-menu,
.price-menu,
.sort-menu {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    top: 100%;
    left: 0;
    padding: 10px;
    background-color: #222831;
    border: 1px solid #ffffff7a;
    border-radius: 10px;
    z-index: 1;
}

.filter-item {
    padding-left: 10px;
    &:hover {
        color: #1f4aa8;
    }
}

.price-inputs {
    gap: 10px;
}

.range-area {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nothing-title {
    color: white;
    font-weight: 700;
    text-align: center;
    margin-top: 100px;
}

.reset-btn {
    margin: 20px auto 0 auto;
}

.btn-disabled {
    cursor: auto;
    pointer-events: none;
    background-color: #516eada7;
}

.search-area {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    max-width: 1242px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 15px;
}

.search-input {
    width: 200px;
    outline: none;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: rgba(242, 241, 240, 0.404);
    height: 25px;
    padding-left: 10px;
    font-weight: 700;
    color: black;
    &:focus {
        border-color: rgba(242, 241, 240, 0.404);
    }
    &::placeholder {
        color: black;
    }
}

.search-btn {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(242, 241, 240, 0.404);
    background-color: rgba(242, 241, 240, 0.404);
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    transition: all 0.5s ease-in-out;
    &:hover {
        background-color: #1f4aa8;
        svg {
            fill: white;
        }
    }
}

.filter-menu {
    align-items: flex-start;
}

.filter-item-sub {
    padding-left: 20px;
    font-size: 15px;
    &:hover {
        color: #1f4aa8;
    }
}
