.product-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 15px;
}
.product {
    position: relative;
    max-width: 1000px;
    width: 100%;
    max-height: 1000px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    border: 1px solid #ffffff7a;
    border-radius: 10px;
    margin: 10px;
}

.product-img {
    width: 100%;
    max-height: 450px;
    object-fit: cover;
    border-radius: 10px;
}

.product-title {
    color: white;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}

.product-description {
    color: white;
    font-size: 16px;
    text-align: left;
    overflow: auto;
    border: 1px solid #ffffff7a;
    padding: 5px;
}

.details {
    color: white;
    font-size: 26px;
    text-align: center;
}

.custom-zoom [data-rmiz-modal-overlay],
.custom-zoom [data-rmiz-modal-img] {
    transition-duration: 0.8s;
    transition-timing-function: linear;
}
.custom-zoom [data-rmiz-modal-overlay='hidden'] {
    background-color: rgb(56, 58, 89, 0);
}
.custom-zoom [data-rmiz-modal-overlay='visible'] {
    background-color: rgb(56, 58, 89, 1);
}
.custom-zoom [data-rmiz-btn-unzoom] {
    background-color: #bd93f9;
    color: #000;
}
.custom-zoom [data-rmiz-btn-unzoom]:focus-visible {
    outline-offset: 0.4rem;
    outline: 0.2rem solid #bd93f9;
}

[data-rmiz-btn-unzoom] {
    inset: 80px 20px auto auto;
}

.hidden {
    display: none;
}
