@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    font-family: 'Montserrat', sans-serif;
}

body {
    min-width: 320px;
    min-height: 100dvh;
    background-color: #222831;
}

button {
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 4px 6px;
    font-size: 1em;
    cursor: pointer;
    background-color: #1f4aa8;
    color: #ffffff;
    line-height: 19.5px;
    transition: border-color 0.25s;
    border-radius: 39px;
    &:not(:disabled):hover {
        border-color: #646cff;
    }
    &:not(:disabled):active {
        background-color: #343de8d6;
    }
}
