.not-found-container {
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/images/hero_image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.not-found-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(240, 248, 255, 0.831);
}

.not-found-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 300px;
    width: 100%;
    padding: 20px;
    z-index: 1;
}

.jump-title {
    background-size: cover;
    text-align: center;
    font-size: 80px;
    animation: jump 4s ease-out infinite;
    font-weight: 700;
}

.link-inner,
.not-found-title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    color: #133b5c;
    text-align: center;
    font-size: 14px;
}

@keyframes jump {
    0%,
    100% {
        transform: translateY(0);
        color: #133b5c;
        text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.566);
    }
    50% {
        transform: translateY(-20px);
        color: #3273a8;
        text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.393);
    }
}
